mixin menuItem(img, title)
  div.menu__item
    img(class="menu__item-icon" src=`assets/img/${img}` alt=`${title}`)
    p.menu__item-name= title

mixin materialsList(img, title, caption)
  div.materials__list
    img(class="materials__list-img" src=`assets/img/${img}` alt=`${title}`)
    div.materials__list-text
      h2= title
      p= caption


<!DOCTYPE html>
html(lang="en")
  head
      meta(charset="UTF-8")
      link(rel="stylesheet", href="assets/css/app.css")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Homepage App
  body
    .container
      header.sidebar 
        div.sidebar__header
          div.profile
            img(class="profile__avatar" src="assets/img/dp.jpg", alt="Cayla Brister")
            p.profile__name Cayla Brister
            img(class="profile__dropdown" src="assets/img/chevron-down.svg", alt="Dropdown")
          .profile__notification.unread
            img(class="profile__notification-icon" src="assets/img/bell.svg", alt="")

        nav(class="sidebar__nav menu")
          +menuItem("home.svg", "Home")
          div.menu__group
            p.menu__group-header Courses
            div.menu__group-items
              +menuItem("lessons.svg", "Lessons")
              +menuItem("homework.svg", "Homework")
            p.menu__group-header Self Education
            .menu__group-items
              +menuItem('vocabulary.svg', 'Vocabulary')    
              +menuItem('video-lessons.svg', 'Video Lessons')    
              +menuItem('tests.svg', 'Tests')    
              +menuItem('games.svg', 'Games')    
        
      aside.aside
        .lesson-one
          img(class="lesson-one__arrow" src="assets/img/arrow-left.svg", alt="left-arrow")
          h1.lesson-one__text Today's Lesson
        .lesson-box
          .b2
            h1.b2__eng Eng B2
            h1.b2__line |
            h1.b2__verb Verb's Endings
          
          .timestamp
            .time
              img(class="time__clock" src="assets/img/clock.svg", alt="clock")
              p.time__text 14:00
            .calendar
              img(class="calendar__calendar" src="assets/img/calendar.svg", alt="calendar")  
              p.calendar__july 12  July  

          .profile2
            img(class="profile2__avatar" src="assets/img/newdp.png", alt="Cayla Brister")
            p.profile2__name Prescott MacCaffery

          .btn
            p(class="btn__01 ") Speaking
            p(class="btn__02 ") Verb
            p(class="btn__03 ") Grammar

        .agenda
          h1 Lesson agenda

        .agenda__list
          img(class="list__tick" src="assets/img/check-circle.svg", alt="tick")
          p.list__text Introduction
            //- p.list__text Comparative adjectives
            //- p.list__text First conditionals
            //- p.list__text Going to
            //- p.list__text Home work

        h1.materials Lesson Materials
        +materialsList("play.svg", "London Situation", "Vedeo Lesson")
        //- +materialsList("image.svg", "London Places", "Vocabulary Training")
        
        .materials__list
          img(class="materials__list-img" src="assets/img/image.svg", alt="play")
          .materials__list-text
            h2 London Places
            p Vocabulary Training
          //- .materials__list-images
          //-   img(src="assets/img/statue.jpeg", alt="")
          //-   img(src="assets/img/building.jpeg", alt="")
          //-   img(src="assets/img/store.jpeg", alt="")


        +materialsList("music.svg", "Slow Speaking", "Hearing Exercise")
        +materialsList("tests.svg", "Home Test", "Verb's Ending Test")

      main.main
        
        div.main1
          .main__profile3 
            img(class="main__profile3-avatar" src="assets/img/newdp.png", alt="Cayla Brister")
            p.main__profile3-name Prescott MacCaffery
          img(src="assets/img/more.svg", alt="")
       
        div.main2
          .main2__box
            img(class="main2__box-image1" src="assets/img/main.jpeg", alt="main")
            img(class="main2__box-image2" src="assets/img/main-2.jpeg", alt="")
            .main2__box-buttons
              img(class="main2__box-buttons-button-1" src="assets/img/mic.svg", alt="")
              img(class="main2__box-buttons-button-2" src="assets/img/video.svg", alt="")
              img(class="main2__box-buttons-button-3" src="assets/img/call.svg", alt="")
            img(class="main2__box-4" src="assets/img/call.svg", alt="")
        
        div.linebreak
          .line
          img(class="linebreak__img" src="assets/img/menu.svg", alt="menu") 
          .line2

        .chat
          .chatbox-row
            .chatbox
              img(class="chat__avatar" src="assets/img/dp.jpg", alt="Cayla Brister")
              .textdiv
                p.chatbox__text Hi Cayla!  If you have any questions before    we start, feel free to ask. 
                p.chatbox-time 7 min ago
          .chatbox-row
            .chatbox.chatbox-right
              img(class="chat__avatar" src="assets/img/newdp.png", alt="Cayla Brister")
              .textdiv-right
                p.chatbox__text-2 Hello Prescott! Should I check our last lesson?
                p.chatbox-time-right 5 min ago
            

        .message
            .message-1
              img(src="assets/img/mic.svg", alt="")
              img(src="assets/img/emoji.svg", alt="")
              input(type="text" placeholder="Type something...").chat-form
            img(src="assets/img/send.svg", alt="")
